[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = ">=2.16,<2.17"
Pillow = "*"
Django = "<4.1,>=4.0"
django-extensions = "*"
wagtailmenus = "*"
django-debug-toolbar = "*"
wagtail-blocks = "*"
wagtailgeowidget = "*"
python-decouple = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
