{% load static %}
{% load menu_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <img src="{% static 'assets/HHem_logo_gron_transp.png' %}" alt="Logotyp Helsingborgshem" width="98"
                height="63" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarColor01"> -->
        <!-- Menu från Tailwing -->

        <div class="collapse navbar-collapse me-auto" id="navbarResponsive">
            {% main_menu template="menu/main_menu.html" %}
        </div>


        <form class="d-flex">
            <input class="form-control me-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit">Search</button>
        </form>

        <!-- </div> -->
    </div>
</nav>